/* @tailwind base;
@tailwind components;
@tailwind utilities;
 */

.app-container {
  display: flex;
  height: 100vh;
}
.sideBar-container {
  background-color: aquamarine;
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: start;
  width: 30%;
  height: 100%;
  padding: 10px;
}
.no-projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 78%;
  height: 100%;
}
header {
  margin: 10px;
}

.sideBar-button {
  margin: 10px;
}
